[alias]
    tree = log --graph
    stat = diff --stat
    tracked = ls-tree -r HEAD --name-only
    sb = status -sb
[color]
    ui = true
[commit]
    gpgSign = True
[core]
    editor = vim
    excludesfile = "~/.gitignore"
[merge]
    tool = vimdiff
[pull]
    ff = only
[push]
    default = simple
[user]
    email = jmmadge@gmail.com
    name = Jim Madge
    ; signingKey =
