[user]
    email = jmmadge@gmail.com
    name = Jim Madge
    ; signingKey =
[core]
    editor = vim
[merge]
    tool = vimdiff
[color]
    ui = true
[alias]
    tree = log --graph
    stat = diff --stat
    tracked = ls-tree -r HEAD --name-only
    sb = status -sb
[push]
    default = simple
[commit]
    gpgSign = True
