[alias]
    tree = log --graph
    stat = diff --stat
    tracked = ls-tree -r HEAD --name-only
    sb = status -sb
    root = rev-parse --show-toplevel
    a = add
    c = commit
    ca = commit -a
    caa = commit -a --amend
[color]
    ui = true
[commit]
    gpgSign = True
[core]
    editor = vim
    excludesfile = ~/.gitignore
[init]
    defaultBranch = main
[merge]
    tool = vimdiff
[pull]
    ff = only
[push]
    default = simple
[user]
    email = jim@jmadge.com
    name = Jim Madge
    signingKey = B203D5822AABDCF1
